.loupe {
    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -400px;
        margin-top: -235px;
        transform: scale(0);
        z-index: 12;
        transition: transform .4s ease;

        &.__full-size {
            transform: scale(1);
        }
    }

    &__loader,
    &__loader:before,
    &__loader:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation: load7 1.8s infinite ease-in-out;
        animation: load7 1.8s infinite ease-in-out;
    }

    &__loader:before,
    &__loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    &__loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    &__loader:after {
        left: 3.5em;
    }

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #ffffff;
        font-size: 10px;
        margin-left: -1.25em;
        margin-top: -1.25em;
        text-indent: -9999em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
        z-index: 11;
    }

    @-webkit-keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }

    @keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }
}
