.top-panel {
    position: absolute;
    top: -$head-height;
    left: 0;
    right: 0;
    height: $head-height;
    background: rgba(0,0,0,.8);
    text-align: center;
    z-index: 10;

    &__content {
        position: absolute;
        left: 60px;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        color: #fff;
        cursor: pointer;

        &:hover {
            color: $link-color-hover;
        }
    }

    &--locales {
        .top-panel__content {
            display: inline-block;
            position: static;
            left: auto;
            right: auto;
            padding-top: 24px;
            transform: none;
        }
    }
}
