body {
  background: rgba(0, 0, 0, 0.1);
  color: #333;
  transition: opacity 0.2s ease;
}

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
  background: var(--page-bg);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.layout__header {
  flex-shrink: 0;
}

.layout__main {
  flex: 1;
}

.layout__footer {
  flex-shrink: 0;
  height: var(--footer-height);
  margin: 0 30px;
  border-top: 1px solid #4b7801;
  line-height: 50px;
  font-size: 14px;
}

.layout__head {
  position: relative;
  height: var(--head-height);
  padding: 0 30px;
  background: url("../../images/header-bg.jpg") 0 0 no-repeat;
}

.layout__logo-wrapper {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-53%);
}

.layout__logo {
  width: 150px;
  height: 56px;
}

.layout__nav {
  position: absolute;
  right: 30px;
  bottom: 18px;
}

.layout__utils {
  position: absolute;
  top: 17px;
  right: 30px;
}

.layout__nav-mobile {
  display: none;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 9;
}

.layout__slider {
}

/* --tablet-medium-breakpoint: 768px; */
@media screen and (max-width: 768px) {
  .layout__nav {
    display: none;
  }

  .layout__utils {
    display: none;
  }

  .layout__nav-mobile {
    display: block;
  }
}
