.subsection-content {
  padding: 30px 16px 20px;
}

.subsection-content__title {
  margin-bottom: 12px;
  margin-left: 14px;
  font-size: 32px;
}

.subsection-content__items {
  display: flex;
  flex-wrap: wrap;
}

.subsection-content__item {
  width: 33.33333333%;
  padding: 14px;
}

.subsection-content__links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px 2px;
}

.subsection-content__link {
  display: block;
  margin: 6px 12px;
  border-bottom: 1px solid #c7c7c2;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  line-height: 0.9;
  transition:
    color 0.2s ease,
    border-bottom 0.2s ease;
}

.subsection-content__link:hover {
  color: var(--link-color-hover);
  border-bottom: 1px solid var(--link-color-hover);
}

.subsection-content__link--active {
  color: var(--link-color-active);
  border-bottom-color: transparent;
}

.subsection-content__link--active:hover {
  color: var(--link-color-active);
  border-bottom-color: transparent;
}

.subsection-content__paginator {
  margin-top: 30px;
  text-align: center;
}

/* --tablet-large-breakpoint: 992px; */
@media screen and (max-width: 992px) {
  .subsection-content__item {
    width: 50%;
  }
}

/* --phone-breakpoint: 576px; */
@media screen and (max-width: 576px) {
  .subsection-content__item {
    width: 100%;
  }
}
