.search-card {
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 20px;
}

.search-card__thumbnail-wrapper {
  position: relative;
  width: 150px;
  flex-shrink: 0;
}

.search-card__image-link {
  display: block;
}

.search-card__thumbnail {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  cursor: zoom-in;
}

.search-card__main {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 0;
}

.search-card__main-inner {
  min-width: 0;
}

.search-card__name,
.search-card__subsection {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-card__article {
  margin-bottom: 4px;
  font-size: 12px;
  text-transform: uppercase;
}

.search-card__name {
  font-size: 18px;
}

.search-card__name .search-card__link {
  font-size: 18px;
}

.search-card__subsection {
  margin-top: 4px;
}

.search-card__subsection .search-card--sm-indent {
  margin-top: 1px;
}

.search-card__link,
.search-card__subsection-link {
  display: inline;
  border-bottom: 1px solid var(--link-border-color);
  font-size: 15px;
  color: var(--link-color);
  text-decoration: none;
  line-height: 1;
  transition:
    color 0.2s ease,
    border-bottom 0.2s ease;
}

.search-card__link:hover,
.search-card__subsection-link:hover {
  color: var(--link-color-hover);
  border-color: var(--link-color-hover);
}

/* --tablet-medium-breakpoint: 768px; */
@media screen and (max-width: 768px) {
  .search-card__thumbnail {
    cursor: default;
  }
}

/* --phone-breakpoint: 576px; */
@media screen and (max-width: 576px) {
  .search-card {
    display: block;
    padding: 15px 15px 20px;
  }

  .search-card__thumbnail-wrapper {
    width: auto;
  }

  .search-card__main {
    display: block;
    margin-top: 12px;
  }

  .search-card__article {
    margin-bottom: 2px;
  }

  .search-card__subsection {
    margin-top: 2px;
  }
}
